

	<div class="wrapper">
			<header>
				<img class="logo" src = "../../logo.png">	
				<table class = "menu">
					<td><a href="">HOME</a></td>
					<td><a href="">STORE</a></td>
					<td><a href="">ABOUT US</a></td>
					<td><a href="">CONTACT US</a></td>
					<td><a href="">CART</a></td>
      	</table>
				<span class = "dropdown">
				<img class="profile_pic" src = "../../profile_pic.png">
			
					<div class="dropdown-content">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a>
							<a href="#">Link 3</a>
					</div>
				</span>
			</header>
    	<img class="center_pic" src = "../../centre_pic.png">
    
	</div>